:root {
    /* font-family: "Simpsonfont", sans-serif; */
    font-family: "Akbar", sans-serif;
    letter-spacing: 0.2rem;
    --background-color: rgb(254, 212, 32);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 1) !important;
}

.about-title,
.about-subtitle,
.about-text {
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.about {
    background-image: url(/assets/img/night-stars-space-copy.png);
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    animation: aparecer 10s ease-in-out;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.container {
    margin-top: 3rem;
    margin-left: auto;
    max-width: 600px;
    font-family: "Simpsonfont", sans-serif;
}

.perfil-image {
    text-align: center;
}

.info img {
    width: 35%;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.5);
}
.social-media-container {
    display: flex;
    justify-content: center;
    gap: 0 3rem;
}

.social-media-container {
    font-size: 3rem;
}
.social-media i {
    color: rgb(255, 215, 29);
}

.social-media:hover {
    transform: scale(1.3);
    opacity: 1;
}

.ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    color: white;
}
.img:hover {
    box-shadow: 0.3rem 0.3rem 10rem rgb(84, 142, 163);
}

.about-title,
.about-subtitle,
.about-text,
.ul {
    text-shadow: 2px 2px 4px black;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    .perfil-image {
        width: 100%;
    }
    .about {
        overflow-y: auto;
    }
    .info {
        margin-left: 0;
    }
    .ul {
        width: 90vw;
        flex-wrap: wrap;
    }
    .about {
        background-image: url(/assets/img/mobile/homer-alone-sky.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media screen and (max-width: 600px) {
    .about {
        overflow-y: auto;
    }
    .info {
        margin: 0 auto;
        text-align: center;
    }
    .info img {
        width: 180px;
        display: inline-block;
        border-radius: 50%;
        margin: 0 auto;
    }
}
