@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	display: flex;
	flex-direction: column;
}

.character {
	color: black;
	font-family: "Quicksand", sans-serif;
	background-color: #fed420;
	height: fit-content;
	max-width: 100%;
	width: 1400px;
	margin: 0 auto;
	display: flex;
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	animation: show 2s ease-in-out;
	padding: 1em;
}

.section-show {
	display: flex;
}

/* Contenedor Index */
.container-mine-close {
	display: none;
}
.container-mine-show {
	display: flex;
}

.character-close {
	display: none;
}

.contenedor-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.character-description {
	max-width: 900px;
	font-size: 1.5rem;
	text-align: center;
}

.character-image {
	height: 400px;
	/* display: block; */
}

.character-title {
	text-transform: capitalize;
	max-width: 100%;
}

@media (max-width: 768px) {
	.character-title {
	}

	.character-description {
		max-width: 100%;
	}
}

.character-title,
.character-genre,
.character-state,
.character-employment {
	text-align: center;
	white-space: pre-wrap;
	/* padding: 0.5em 0; */
	margin: 0.5em 0;
}

.character-employment {
	max-width: 900px;
}

.btn-detail {
	display: none;
	font-size: 1.3rem;
	font-weight: bold;
	padding: 0;
	width: 50px;
	margin-left: auto;
	animation: show 2s ease-in-out;
	background-color: rgb(150, 212, 253);
}

.btn-detail-show {
	display: unset;
}

.btn-detail-container {
	max-width: 100%;
	width: 1400px;
	display: flex;
	margin: 0 auto;
	padding: 0 1em;
}

@media (max-width: 768px) {
	/* .character {
		margin-bottom: 2.5em;
	} */

	.btn-detail-container {
		/* max-width: 768px; */
		width: 100%;
		padding: 0.5em;
	}

	.character-image {
		max-width: 100%;
		max-height: 23rem;
		height: auto;
		width: auto;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
