@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.character {
	color: black;
	font-family: "Quicksand", sans-serif;
	background-color: #fed420;
	/* min-height: 100vh; */
	height: fit-content;
	width: 100vw;
	max-width: 100%;
	display: flex;
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	animation: show 2s ease-in-out;
	padding: 2em 1em;
}

.section-show {
	display: flex;
}

/* Contenedor Index */
.container-mine-close {
	display: none;
}
.container-mine-show {
	display: flex;
}

.character-close {
	display: none;
}

.contenedor-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.character-description {
	max-width: 900px;
	font-size: 1.5rem;
	text-align: center;
}

.character-image {
	height: 400px;
	/* display: block; */
}

.character-title,
.character-genre,
.character-state,
.character-employment {
	text-align: center;
	/* padding: 0.5em 0; */
	margin: 0.5em 0;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
