:root {
	color: black;
	font-family: "Simpsonfont", sans-serif;
	/* font-family: "Akbar", sans-serif; */
}

body {
	margin: 0;
}

#title img {
	max-width: 250px;
}
.section {
	background-image: url(/assets/img/background-bart.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

/* NavBar */
.nav {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
}
.navbar {
	background-color: rgb(150, 212, 253) !important;
	font-family: "Simpsonfont", sans-serif;
	display: flex;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 4rem;
	margin-left: 3rem;
	font-size: 1.1rem;
	font-weight: bold;
}
.nav a button {
	font-size: 1rem;
	font-family: "Simpsonfont", sans-serif;

	font-weight: bold;
	letter-spacing: 0.1rem;
	background-color: black;
	color: aliceblue;
}

.logo-app img {
	max-width: 90px;
	margin-left: 2rem;
}

.btn {
	font-size: 1rem;
	padding: 0.3rem;
	width: 5rem;
}
.btn:hover {
	background-color: black;
	color: aliceblue;
	cursor: pointer;
}

#title {
	text-align: center;
}

/* Hero  */
.container-mine {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	gap: 0 5rem;
	/* margin: 3rem 0; */
}

.card-link-container {
	text-decoration: none;
}

.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	height: 23rem;
	width: 13rem;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem 0.5rem black;
	margin: 1rem;
	transition: 0.5s all;
}

.card-container h3 {
	font-family: "Simpsonfont", sans-serif;
	font-size: 1.5rem;
}
.card-img {
	height: 11rem;
	width: auto;
}

.card-title {
	text-align: center;
}

.card-container:hover {
	background-color: rgba(0, 0, 0, 0.5);
	/* background-color: rgb(254, 212, 32); */
	transform: scale(1.1);
	color: aliceblue;
}

.audio-controls-container {
	width: 100%;
	text-align: center;
}

.audio {
	opacity: 0;
}

.audio:hover {
	opacity: 1;
}

@media screen and (max-width: 766px) {
	.info img {
		width: 80vw;
		border-radius: 50%;
	}
}

@media screen and (max-width: 600px) {
	.about {
		overflow-y: auto;
	}
	.info {
		margin-left: 0;
		width: 90vw;
	}

	.info img {
		width: 50vw;
		border-radius: 50%;
	}

	.ul {
		width: 90vw;
		font-size: 1rem;
		flex-wrap: wrap;
	}

	.buttons {
		gap: 1rem;
		margin-left: 1rem;
	}
}
