@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
    color: black;
    font-family: "Simpsonfont", sans-serif;
    /* font-family: "Akbar", sans-serif; */
    --yellow-color: rgb(254, 212, 32);
    --green-color: #198754;
}

body {
    margin: 0;
    background-color: var(--yellow-color);
}

/* Loader */

.spinner-hidden {
    display: none;
}

.spinner-show {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #000;
}

/* Progress bar */
#progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 20px 0;
    height: 20px;
    overflow: hidden;
    display: none;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

#title {
    text-align: center;
}

#title img {
    max-width: 250px;
}

@media (max-width: 768px) {
    #title img {
        max-width: 200px;
    }
}

.cards-container {
    animation: show 2s;
    background-image: url(/assets/img/background-bart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    /* overflow-x: hidden; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* display: none; */
}

.title {
    text-align: center;
}

.title img {
    display: block;
    margin: 0 auto;
}

/* Hero  */
.container-mine {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em 5em;
    padding: 0 1em;
    margin: 1em 0;
}

.card-title,
.card-state,
.card-gender {
    font-family: "Simpsonfont", sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

.card-img {
    max-height: 11rem;
    height: 11rem;
    max-width: 100%;
    height: auto;
    width: auto;
}

.img-limit {
    object-fit: cover;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}
.card-link-container {
    cursor: pointer;
    text-decoration: none;
}

.card-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 20.5rem;
    max-width: 100%;
    width: 11.5rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem black;
    margin: 1rem 0;
    transition: 0.5s all;
}

.card-title {
    text-align: center;
    word-wrap: break-word; /* Ensures the word breaks to fit within the container */
    overflow-wrap: break-word; /* Alternative property to ensure word breaks */
    hyphens: auto; /* Allows hyphenation of long words */
}

.card-container:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    color: aliceblue;
}

@media (max-width: 768px) {
    .navbar-nav-scroll {
        height: 100%;
        max-height: fit-content;
        text-align: center;
    }

    li .nav-item {
        text-align: center !important;
    }

    .card-container {
        margin: 0;
        width: 14rem;
        height: 23rem;
        /* transform: scale(1.2); */
        margin: 2em;
    }

    .card-img {
        max-height: 12rem;
        height: 11rem;
    }
}

.btn {
    font-size: 1rem;
    padding: 0.3rem;
    width: 5rem;
}

.btn:hover {
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

.overlay-show {
    display: flex;
    animation: show 2s ease-in-out;
}

.overlay-close {
    display: none;
}

.section-hidden {
    display: none !important;
}

.section-show {
    display: initial;
}

.text-searched {
    display: block;
    width: 100%;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.copyright {
    /* background-color: rgba(150, 212, 253, 0.5); */
    text-align: center;
    font-weight: bold;
    padding: 1em;
    width: 100%;
    max-width: 100%;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
