@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
	color: black;
	font-family: "Simpsonfont", sans-serif;
	/* font-family: "Akbar", sans-serif; */
	--yellow-color: rgb(254, 212, 32);
}

body {
	margin: 0;
	background-color: var(--yellow-color);
}

#title img {
	max-width: 250px;
}
.section {
	animation: show 2s;
	background-image: url(/assets/img/background-bart.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

/* NavBar */
.nav {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	letter-spacing: 0.1rem;
	width: 100vw;
}
.navbar {
	background-color: rgb(150, 212, 253) !important;
	font-family: "Simpsonfont", sans-serif;
	display: flex;
}

@media (max-width: 768px) {
	.navbar-nav-scroll {
		height: 100%;
		max-height: fit-content;
		text-align: center;
	}

	li .nav-item {
		text-align: center !important;
	}

	#btn-overlay {
		margin: 0 auto;
		text-align: center;
	}

	.overlay {
		padding: 1em 3em;
	}
}

.nav-item a {
	letter-spacing: 0.1rem;
}

.nav-links {
	margin-left: auto;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 4rem;
	margin-left: 70%;
	font-size: 1.2rem;
	font-weight: bold;
}

@media (max-width: 1200px) {
	.buttons {
		margin-left: 0;
		min-height: fit-content;
		height: fit-content;
		gap: 1rem;
	}
}

@media (max-width: 1000px) {
	.buttons li {
		text-align: center;
	}
}

.nav a button {
	font-size: 1rem;
	font-family: "Simpsonfont", sans-serif;
	letter-spacing: 0.1rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	background-color: black;
	color: aliceblue;
}

.logo-app img {
	max-width: 90px;
	margin-left: 2rem;
}

.btn {
	font-size: 1rem;
	padding: 0.3rem;
	width: 5rem;
}
.btn:hover {
	background-color: black;
	color: aliceblue;
	cursor: pointer;
}

#title {
	text-align: center;
}

/* Hero  */
.container-mine {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 0 8rem;
	padding: 0 1em;
	/* margin: 3rem 0; */
}

@media (max-width: 768px) {
	.container-mine {
		gap: 2em;
	}
}

.card-link-container {
	cursor: pointer;
	text-decoration: none;
}

.card-container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	height: 23rem;
	width: 13rem;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem 0.5rem black;
	margin: 1rem 0;
	transition: 0.5s all;
}

.card-container .card-title,
.card-state,
.card-gender {
	font-family: "Simpsonfont", sans-serif;
	font-size: 1.5rem;
	cursor: text;
}
.card-img {
	height: 11rem;
	width: auto;
	cursor: text;
}

.img-limit {
	object-fit: cover;
	max-width: 200px;
	height: auto;
	object-fit: cover;
}

.card-title {
	text-align: center;
}

.card-container:hover {
	background-color: rgba(0, 0, 0, 0.5);
	transform: scale(1.05);
	color: aliceblue;
}

.audio-controls-container {
	width: 100%;
	text-align: center;
}

.audio {
	opacity: 0;
	display: none;
}

.audio:hover {
	opacity: 1;
}

@media screen and (max-width: 766px) {
	.info img {
		width: 20%;
		border-radius: 50%;
	}
}

@media screen and (max-width: 600px) {
	.nav {
		width: 100vw;
	}

	.card-container {
		margin: 4em 0;
		transform: scale(1.2);
	}
	.about {
		overflow-y: auto;
	}
	.info {
		margin-left: 0;
		width: 100vw;
	}

	.info img {
		width: 90vw;
		border-radius: 50%;
	}

	.ul {
		width: 90vw;
		font-size: 1rem;
		flex-wrap: wrap;
	}

	.buttons {
		gap: 1rem;
		margin-left: 1rem;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.overlay {
	display: none;
	margin: 1em auto;
	padding: 1em 1.5em;
	/* max-width: 1000px; */
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	background-color: var(--yellow-color);
	font-family: "Quicksand", sans-serif;
	animation: out 2s ease-in-out;
}

.overlay-title {
	margin-bottom: 1em;
	text-align: center;
}

.overlay-image {
	width: 300px;
	margin: 2em 0;
	border-radius: 5px;
}
.overlay p {
	font-size: 1.2rem;
}

.overlay-show {
	display: flex;
	animation: show 2s ease-in-out;
}

.overlay-close {
	display: none;
}

.btn-overlay {
	width: fit-content;
}

.section-hidden {
	display: none;
}

.section-show {
	display: initial;
}

.overlay-texts {
	padding-left: 5em;
	padding-right: 5em;
	max-width: 1200px;
}

.overlay-image-container {
	display: flex;
	flex-direction: column;
}

@keyframes show {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes out {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}

	100% {
		display: none;
	}
}
