/* NavBar */

:root {
    --navbar-color: #034471;
    --navbar-alt-color: rgb(150, 212, 253);
}

.navbar {
    background-color: var(--navbar-alt-color) !important;
    font-family: "Simpsonfont", sans-serif;
    display: flex;
    width: 100%;
    z-index: 1;
}

.nav-item a {
    letter-spacing: 0.1rem;
}

.nav-links {
    margin-left: auto !important;
}

.nav-link {
    width: 137px;
    text-align: center;
}

.active-link {
    color: rgb(13, 110, 253) !important;
}

.disabled-link {
    pointer-events: none;
    color: gray;
}

.nav a button {
    font-size: 1rem;
    font-family: "Simpsonfont", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: black;
    color: aliceblue;
}

.navbar-nav a:hover {
    color: rgba(0, 0, 0, 0.7) !important;
}

.logo-app {
    width: 316px;
}

@media (max-width: 1000px) {
    .logo-app {
        width: auto;
        display: flex;
    }

    .logo-app img {
        margin-left: auto;
    }
}

.logo-app img {
    max-width: 90px;
    margin-left: 1rem;
}

@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(360deg);
    }
}

.rotateY {
    animation: rotateY 6s normal infinite;
}

.btn-all-cards {
    border-radius: 10px;
    display: none;
    align-items: center;
    border: none;
}

.btn-all-cards:hover {
    background-color: #198754;
    transition: 0.5s all;
    color: white;
}

.form-search {
    display: flex;
}

.filled {
    width: 316px;
}

.filled-hidden {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .buttons {
        gap: 1rem;
    }
}

@media (max-width: 1000px) {
    .buttons {
        max-height: fit-content;
        height: 180px;
        /* justify-content: center; */
        align-items: center;
        /* max-height: fit-content; */
        overflow-y: visible;
    }
    .buttons li {
        text-align: center;
    }

    .filled {
        display: none;
    }

    .btn-all-cards {
        margin-bottom: 1em;
        padding: 0.5em;
    }

    .buttons {
        height: fit-content;
    }
}
