.opening {
    width: 100%;
    height: 100vh;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow-y: hidden;
}

.btn-start {
    position: absolute;
    z-index: 1;
    /* padding: 10px 30px; */
    border-radius: 5px;
    height: 50px;
    width: 120px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.skip-button {
    display: none;
    position: absolute;
    bottom: 5%;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

.btn-image {
    max-height: 20px;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .video {
        object-fit: contain;
    }
}
