/* Story */

body {
    font-family: "Quicksand", sans-serif;
    /* background-image: url(/assets//img/background-the-simpsons-copy.jpg);
    background-position: center;
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat; */
}

.nav-story {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    z-index: 999;
    /* align-items: center; */
}

.nav-story ul {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
}

.nav-story li {
    list-style: none;
}

.nav-story a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #96d4fd;
    margin: 5px 0;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-story a:hover {
    transform: scale(1.05);
    background-color: #74c0f0;
    color: white;
}

.nav-story-img {
    max-width: 100%;
    height: 280px;
    position: absolute;
    bottom: 1%;
}

.story {
    background-color: var(--yellow-color);
    display: flex;
    margin: 1em auto;
    padding: 1em 1.5em;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    animation: show 2s ease-in-out;
}

.story-title {
    font-size: 2.5rem;
    margin-bottom: 1em;
    text-align: center;
    font-family: "Simpsonfont", sans-serif;
}

.story-image {
    width: 500px;
    margin: 2em 0;
    border-radius: 5px;
}

.topic {
    margin: 2em 0;
}

.topic-title {
    margin-bottom: 1em;
    font-family: "Simpsonfont", sans-serif;
    font-size: 2.2rem;
}
.story-item {
    font-size: 1.2rem;
    text-align: justify;
}

.story-texts {
    margin-left: 200px;
    padding-left: 5em;
    padding-right: 5em;
    max-width: 1200px;
}

.story-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.nav-story ul {
    display: flex;
    align-items: center;
}

/* .topic figure img,
.topic figure figcaption {
    display: block;
    margin: 0 auto;
} */

@media (max-width: 768px) {
    .story {
        flex-direction: column;
    }

    .story-texts {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .story-image-container {
        display: flex;
        flex-direction: column;
        /* padding-left: 0.5em; */
        /* padding-right: 0.5em; */
    }

    .story-image {
        width: 100%;
        margin: 2em 0;
        border-radius: 5px;
    }

    /* .story-item,
	.story-image {
		order: 0;
	}

	.story-image:nth-of-type(1),
	.story-image:nth-of-type(2) {
		order: 1;
	} */
}

@media (max-width: 900px) {
    .story-texts {
        margin-left: unset;
    }

    .nav-story {
        left: -200px;
        transition: left 0.5s ease;
    }
}

.nav-story-mobile {
    position: fixed;
    top: 70px;
    right: 0;
    margin-right: 20px;
    z-index: 998;
}

@media (min-width: 900px) {
    .nav-story-mobile {
        display: none;
    }
}

.nav-story-mobile i {
    font-size: 30px;
    color: black;
    background-color: #96d4fd;
    /* display: none; */
    padding: 5px 10px;
    border-radius: 5px;
}

.show-menu {
    left: 0;
}

.appear {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.appear.in-view {
    opacity: 1;
    transform: translateY(0);
}
