/* Story */

body {
    font-family: "Quicksand", sans-serif;
    /* background-image: url(/assets//img/background-the-simpsons-copy.jpg);
    background-position: center;
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat; */
}

.story {
    background-color: var(--yellow-color);
    display: flex;
    margin: 1em auto;
    padding: 1em 1.5em;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    animation: show 2s ease-in-out;
}

.story-title {
    font-size: 2.3rem;
    margin-bottom: 1em;
    text-align: center;
}

.story-image {
    width: 500px;
    margin: 2em 0;
    border-radius: 5px;
}

.topic {
    margin: 2em 0;
}

.topic-title {
    margin-bottom: 1em;
}
.story-item {
    font-size: 1.2rem;
    text-align: justify;
}

.story-texts {
    padding-left: 5em;
    padding-right: 5em;
    max-width: 1200px;
}

.story-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

@media (max-width: 768px) {
    .story {
        flex-direction: column;
    }

    .story-texts {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .story-image-container {
        display: flex;
        flex-direction: column;
        /* padding-left: 0.5em; */
        /* padding-right: 0.5em; */
    }

    .story-image {
        width: 100%;
        margin: 2em 0;
        border-radius: 5px;
    }

    /* .story-item,
	.story-image {
		order: 0;
	}

	.story-image:nth-of-type(1),
	.story-image:nth-of-type(2) {
		order: 1;
	} */
}
