/* Story */

body {
    font-family: "Quicksand", sans-serif;
    /* background-image: url(/assets//img/background-the-simpsons-copy.jpg);
    background-position: center;
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat; */
}

.nav-story {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    /* align-items: center; */
}

.nav-story ul {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
}

.nav-story li {
    list-style: none;
}

.nav-story a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #96d4fd;
    margin: 5px 0;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.nav-story a:hover {
    transform: scale(1.05);
}

.nav-story-img {
    max-width: 100%;
    height: 300px;
    margin-top: auto;
    /* margin-bottom: 200px; */
}

.story {
    background-color: var(--yellow-color);
    display: flex;
    margin: 1em auto;
    padding: 1em 1.5em;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    animation: show 2s ease-in-out;
}

.story-title {
    font-size: 2.3rem;
    margin-bottom: 1em;
    text-align: center;
}

.story-image {
    width: 500px;
    margin: 2em 0;
    border-radius: 5px;
}

.topic {
    margin: 2em 0;
}

.topic-title {
    margin-bottom: 1em;
}
.story-item {
    font-size: 1.2rem;
    text-align: justify;
}

.story-texts {
    margin-left: 200px;
    padding-left: 5em;
    padding-right: 5em;
    max-width: 1200px;
}

.story-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

@media (max-width: 768px) {
    .story {
        flex-direction: column;
    }

    .story-texts {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .story-image-container {
        display: flex;
        flex-direction: column;
        /* padding-left: 0.5em; */
        /* padding-right: 0.5em; */
    }

    .story-image {
        width: 100%;
        margin: 2em 0;
        border-radius: 5px;
    }

    /* .story-item,
	.story-image {
		order: 0;
	}

	.story-image:nth-of-type(1),
	.story-image:nth-of-type(2) {
		order: 1;
	} */
}

@media (max-width: 1200px) {
    .story-texts {
        margin-left: unset;
    }

    .nav-story {
        display: none;
    }
}
