/* Story */

.story {
	display: flex;
	margin: 1em auto;
	padding: 1em 1.5em;
	/* max-width: 1000px; */
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	background-color: var(--yellow-color);
	font-family: "Quicksand", sans-serif;
	animation: out 2s ease-in-out;
}

.story-title {
	margin-bottom: 1em;
	text-align: center;
}

.story-image {
	width: 300px;
	margin: 2em 0;
	border-radius: 5px;
}
.story p {
	font-size: 1.2rem;
}

.story-texts {
	padding-left: 5em;
	padding-right: 5em;
	max-width: 1200px;
}

.story-image-container {
	display: flex;
	flex-direction: column;
}
