:root {
	/* font-family: "Simpsonfont", sans-serif; */
	font-family: "Akbar", sans-serif;
	letter-spacing: 0.2rem;
}

body {
	margin: 0;
}
h2,
h3,
h4,
h5 {
	text-align: center;
	color: black;
	margin-top: 2rem;
}
.article {
	background-image: url(./assets/img/los-simpson-homer-simpson-donut-17o8k0xjab9bivw6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.about {
	display: flex;
	flex-direction: column;
	background-image: url("./assets/about-background2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	animation: aparecer 10s ease-in-out;
}

.container {
	margin-top: 3rem;
	max-width: 600px;
	font-family: "Simpsonfont", sans-serif;
}

.info {
	margin-left: 30%;
	width: fit-content;
	height: 50vh;
	font-size: 1.3vw;
}

.perfil-image {
	text-align: center;
}

.info img {
	width: 10vw;
	border-radius: 50%;
}

.social-media-container {
	display: flex;
	justify-content: center;
	gap: 6rem;
}

.social-media-container {
	font-size: 3rem;
}
.social-media i {
	color: rgb(255, 215, 29);
}
.social-media:hover {
	transform: scale(1.3);
	opacity: 1;
}

.ul {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	list-style: none;
	color: black;
}

.img:hover {
	box-shadow: 0.3rem 0.3rem 10rem rgb(84, 142, 163);
}

.nav {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
}
.navbar {
	background-color: rgb(150, 212, 253) !important;
	font-family: "Simpsonfont", sans-serif;
	display: flex;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 4rem;
	margin-left: 3rem;
	font-size: 1.1rem;
	font-weight: bold;
}
.nav a button {
	font-size: 1rem;
	font-family: "Simpsonfont", sans-serif;

	font-weight: bold;
	letter-spacing: 0.1rem;
	background-color: black;
	color: aliceblue;
}

.logo-app img {
	max-width: 90px;
	margin-left: 2rem;
}

.btn {
	font-size: 1rem;
	padding: 0.3rem;
	width: 5rem;
}
.btn:hover {
	background-color: black;
	color: aliceblue;
	cursor: pointer;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 766px) {
	.about {
		overflow-y: auto;
	}
	.info {
		margin-left: 0;
		width: 90vw;
	}

	.info img {
		width: 65vw;
		border-radius: 50%;
	}

	.ul {
		width: 90vw;
		font-size: 1rem;
		flex-wrap: wrap;
	}

	.buttons {
		gap: 1rem;
		margin-left: 1rem;
	}
}
